DATABASE_URL="file:./dev.db"
JWT_SECRET="change-this-to-a-random-secret-minimum-32-chars"
EMAIL_FROM="noreply@ppgsmi.ufn.edu.br"
EMAIL_HOST="smtp.gmail.com"
EMAIL_PORT="587"
EMAIL_USER="seu-email@gmail.com"
EMAIL_PASS="sua-senha-de-app"
NEXTAUTH_URL="http://localhost:3000"
